.me{
    display: flex;
    background-image: url(me.jpg);
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-left: 25rem;
    margin-top: 3rem;
}
.text_me{
    margin-top: 7rem;
}
body{
    background-color: rgb(#f1f1fb);
}
.performance_01{
    width: 100%;
    height: 70rem;
}
.img_pro01{
    width: 50%;
    height: 23rem;
    background-image: url(project01.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.img_pro01_01{
    width: 33%;
    height: 20rem;
    background-image: url(project01_01.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
}
.img_pro01_02{
    width: 33%;
    height: 20rem;
    background-image: url(project01_02.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
}
.img_pro01_03{
    width: 33%;
    height: 20rem;
    background-image: url(project01_03.jpg);
    background-position: center;
    background-size: cover;
}

.performance_02{
    width: 100%;
    height: 70rem;
}
.img_pro02{
    width: 50%;
    height: 23rem;
    background-image: url(project02.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.img_pro02_01{
    width: 33%;
    height: 17rem;
    background-image: url(project02_01.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
}
.img_pro02_02{
    width: 33%;
    height: 17rem;
    background-image: url(project02_02.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;
}
.img_pro02_03{
    width: 33%;
    height: 17rem;
    background-image: url(project02_03.jpg);
    background-position: center;
    background-size: cover;
}

.cert_01{
    width: 50%;
    height: 17rem;
    background-image: url(certificate_01_01.png);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;

}
.cert_02{
    width: 50%;
    height: 17rem;
    background-image: url(certificate_01_02.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;

}
.cert_03{
    width: 50%;
    height: 17rem;
    background-image: url(certificate_02_01.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;

}
.cert_04{
    width: 50%;
    height: 17rem;
    background-image: url(certificate_02_02.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0.5rem;

}

.gmail{
    height: 5rem;
    width: 5rem;
    background-image: url(gmail.png);
    background-position: center;
    background-size: cover;
    margin-top: -1.5rem;
}

#week3{
    flex-direction: column;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
} 




.napbar{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem ;
    height: 3rem;
    background-color: rgb(81, 160, 213);
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
    width: 95%;
    margin: auto;
    border-radius: 10px;
}
.napbar_l{
    margin-left: 0.5rem;
}
.napbar_r{
    flex-direction: row;
    display: flex;
    gap: 1rem;
    margin-right: 1.8rem;
}




.text_main_form{
    text-align: center;
    margin-top: 5rem;
}
.text_main{
    font-size: 2rem;
    font-weight: bold;
}
table{
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 1rem;
    height: 50%;
    border-radius: 10px;
    box-shadow: 1px 4px 3px 3px  rgb(190, 190, 190);
    padding: 4px;

}
th,td{
    border: 2px;
    text-align: center;
    border-radius: 5px;
}
th{
    height: 5rem;
    background-color: rgb(71, 181, 255);
}
td{
    height: 18rem;
} 




.text_name{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20rem;
}
.button_form{
    margin-top: 2rem;
    margin-left: 67.4%;
}
.text_area {
    margin-top: 2rem;
    margin-left: 30%;
    display: flex;
}
textarea{
    width: 45%;
    height: 5rem;
    box-shadow: 1px 1px 3px 3px rgb(190, 190, 190);
    border-radius: 10px;


} 




.footer{
    margin-top: 2rem;
    width: 95%;
    height: 3rem;
    background-color: rgb(81, 160, 213);
    display: flex;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
}



.mainform{
    margin-top: 10rem;
    background-color: rgb(199, 213, 239);
    height: 105rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px rgb(190, 190, 190);

} 




.box_name{
    background-color: #fafafa;
    height: 20rem;
    width: 25rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px rgb(190, 190, 190);
} 

button{
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);

}



@media (max-width: 600px) {
  #week5 {
    background-color: #ffffff;
  }
}

#week5{
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.head_w5{
    height: 8rem;
    background-color: #421e1eee;
    position: sticky;
    top: 0;
    z-index: 1000;

}.head_w501{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: #ffb651;
}
.nav_w5{
    height: 4rem;
    background-color: rgba(255, 228, 196, 0.792);
    position: sticky;
    top: 8rem;
    z-index: 999;
}
.box_menu{
    min-height: 100vh;
    height: auto;    
    background: #692c05f4;
    padding: 10px;
    z-index: 998;
}
.box_menu02{
    min-height: 100vh;
    height: auto;    
    background: #1d4604;
    padding: 10px;
    z-index: 998;
}
.box_menu03{
    min-height: 100vh;
    height: auto;    
    background: #a7773ef5;
    padding: 10px;
    z-index: 998;
}
.menu_w5{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: auto;
    gap: 10px;
    border-radius: 25px;

}
.tex_w5{
    text-align: center;
    color: #ffb651;
}
.tex_w502{
    text-align: center;
    color: #ffb651;
}

.menu_w5_gard{
    min-height: 14rem;
    height: auto;
    background-color: #000000;
    border-radius: 10px;
}

.menu_w5_gard:nth-child(odd) {
  background-color: #ae856b;
}

.menu_w5_gard:nth-child(even) {
  background-color: #8c6751;
}
.menu_w5_gard02{
    min-height: 14rem;
    height: auto;
    background-color: #000000;
    border-radius: 10px;
}

.menu_w5_gard02:nth-child(odd) {
  background-color: #679558;
}

.menu_w5_gard02:nth-child(even) {
  background-color: #669657c7;
}
.menu_w5_gard03{
    min-height: 14rem;
    height: auto;
    background-color: #000000;
    border-radius: 10px;
}

.menu_w5_gard03:nth-child(odd) {
  background-color: #bd955ff5;
}

.menu_w5_gard03:nth-child(even) {
  background-color: #b5874ff5;
}

.footer_w5{
    height: 7rem;
    background-color: bisque;
}

.box_menu_w5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.img_menu{
    width: 30%;
    aspect-ratio: 1 / 1;
}

.img_menu img{
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(212, 158, 107);
    margin-top: 2.5rem;
}
.tex_menu_name{
    color: #ffcd87;
}
.tex_menu{
    display: flex;
    flex-direction: column;
}
.tex_menu_price{
    display: flex;
    flex-direction: row;
    gap: 10px;
      flex-wrap: wrap; 

}


.sen{
    height: 3rem;
    background-color: #421e1e;
}


.price_check {
  display: none; 
}


.price {
  width: 6.5rem;
  height: 3rem;
  border-radius: 10px;
  flex: 1 1 4.5rem;  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: #eac99de3;
  transition: 0.2s;
  color: #3a1600;

}
.price span {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}




.price_check:checked + span {
  opacity: 0.1;
}

.tex_f5{
    text-align: right;
    margin-top: 4.5rem;
    margin-right: 1rem;
}

@media (max-width: 600px) {
  .box_menu_w5 {
    flex-wrap: wrap;
    text-align: center;
  }
  .img_menu {
    width: 90%;
  }
  .quantity{
    margin: auto;
    display: flex;
    width: 6rem;
    height: 4rem;
  }
  .price{
    width: 0.2rem;
    height: 1.8rem;
  }
  }

  .quantity{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    gap: 5px;
    font-size: 1.3rem;

  }
  .add{
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #ffffffe1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

